In [ ]:
# A database is a structured collection of data that is organised and stored electronically. Major difference between SQL and noSQL is that SQL is relational and noSQL is non relational

In [ ]:
#ddl stands for data definition language in context of database.

In [ ]:
#create

CREATE TABLE Employees(
    employee ID Int PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50)
    Salary DECIMAL(10,2)
    
);

In [ ]:
DROP Table Employees

Alter Table Employees
ADD column Email VARCHAR(100);


TRUNCATE TABLE Employees;

In [ ]:
# DML stands for data manipulation language in the context of databases

In [ ]:
INSERT INTO Employees (EmployeeID, Firstname, Lastname, Salary)
Values (101, 'john', 'doe', 50000);


UPDATE Employees
SET Salary = 55000
Where EmployeesID = 101;


DELETE FROM Employees
Where EmployeesID = 101;

In [ ]:
#DQL stands for data query language and it is a subset of SQL

select

SELECT EmployeeID, Firstname, Lastname, Salary
From Employees
WHERE Department = 'IT'
ORDER BY Salary DESC;

In [ ]:
#primary key is unique identifier for record table and foreign key in the table is used to establish a link between data of two tables

In [ ]:
#the order of execution